h2, h1 {
    color: whitesmoke;
    text-align: center;
}

body {
    background: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

#chatBtn {
    background-color: whitesmoke;
}

.jumbotron {
    overflow-wrap: normal;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: 'Lato', sans-serif;
}
  .members-count,
  .members-list,
  .messages {
    padding: 0px;
    margin-bottom: 15px;
    color: white;
  }

  .members-count {
      font-size: 20px;
  }
  .messages {
    flex-shrink: 1;
    background-color: black;
    opacity: .7;
    height: 315px;
    overflow: auto;
  }
  .message {
    padding: 5px 0;
  }
  .message .member {
    display: inline-block;
  }
  .member {
    padding-right: 10px;
    position: relative;
    margin-left: 10px;
  }
  .message-form {
    display: flex;
    flex-shrink: 0;
  }
  .message-form__input {
    flex-grow: 1;
    border: 1px solid #dfdfdf;
    padding: 10px 15px;
    font-size: 16px;
    opacity: .7;
  }
  .message-form__button {
    margin: 10px;

    background-color: white;
    color: black;
    border: 2px solid #555555;
    
    background-color: #555555;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .message-form__button:hover {
    background-color: #555555;
    color: white;
  } 

  #recent-searches {
    color: whitesmoke;
  }
